body, :not(note-item) {
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: block;
  background-image: url('./43478.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.buttons {
  display: flex;
}
